.empty-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	.text {
		font-size: 13px;
		color: #999;
		margin-bottom: 20px;
		letter-spacing: 1px;
	}
}